* {
    box-sizing: border-box;
}

:root {
--base-clr:#11121a;
--line-clr :#42434a;
--hover-clr: #222533;
--text-clr: #e6e6ef;
--accent-clr: #5e63ff;
--secondary-text-clr: #b0b3c1;
}

ul {
    padding: 0;
}

ul li {
    list-style: none;
    margin-bottom: 10px;
}

ul li a, .dropdown-btn {
    display: flex;
    align-items: center;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 6px;
    color: var(--text-clr);
    transition: 300ms ease-in-out;
}

ul li a:hover, 
ul li a.active {
    color: var(--accent-clr);
    background-color: var(--hover-clr);
}

ul li svg {
    margin-right: 15px;
    fill: var(--text-clr);
    width: 24px;
    min-width: 24px;
    white-space: nowrap;
    flex-shrink: 0;
}

ul li a:hover svg, 
ul li a.active svg
 {
    fill: var(--accent-clr); 
}

button {
    background: none;
    cursor: pointer;
    border: none;
    font: inherit;
}

body {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: grid;
    grid-template-columns: auto 1fr;
    color: var(--text-clr);
    background-color: var(--base-clr);
}

aside {
    padding: 5px 1em;
    width: 250px;
    height: 100vh;
    position: sticky;
    top: 0;
    align-self: start;
    border-right: 1px solid var(--line-clr);
    background-color: var(--base-clr);
    transition: 300ms ease-in-out;
    overflow: hidden;
}

aside.close {
    width: 55px;
}

aside > ul > li:first-child {
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

aside > ul > li:first-child button {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 6px;
}

aside > ul > li:first-child svg {
    transition: rotate 300ms ease-in-out;
}

aside > ul > li:first-child button:hover,
aside > ul > li:first-child button:hover svg {
    fill: var(--accent-clr); 
    background-color: var(--hover-clr);
}

aside > ul > li:first-child button.close svg {
    rotate: 180deg;
}

aside.close > ul > li a,
aside.close > ul > li button {
    padding: 0;
}

.dropdown-btn:hover,
.dropdown-btn:hover svg {
    color: var(--accent-clr);
    fill: var(--accent-clr); 
    background-color: var(--hover-clr);
}

aside .sub-menu {
    display: grid;
    grid-template-rows: 0fr;
    transition: 300ms ease-in-out;
}

aside .sub-menu > div {
    overflow: hidden;
}

aside .sub-menu a {
    padding-left: 2em;
}

aside .sub-menu.show {
    grid-template-rows: 1fr;
}

span.logo {
    transition: 300ms ease-in-out;
}

span.logo.hidden {
    display: none;
    
}

main {
    padding: 20px;
}

.container {
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid var(--line-clr);
  border-radius: 6px;
}

.container p {
    margin-top: 5px;
    margin-bottom: 15px;
    color: var(--secondary-text-clr);
    display: inline-block;
}

.dropdown-btn {
    width: 100%;
    text-align: left;
    display: flex; 
    align-items: center;
}

.dropdown-btn span {
    flex-grow: 1;
}

/*Added by Javascript*/
.rotate svg:last-child {
    rotate: 180deg;
    transition: 300ms ease;
}

/*@media(max-width: 800px){
    body {
        grid-template-columns: 1fr;
    }
}*/